<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <th:block th:include="/head"></th:block>

    <title>Edit Customer</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/contract">Contract</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/service">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:if="${#request.userPrincipal == null}" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:if="${#request.userPrincipal != null}" th:text="${#request.userPrincipal.name}"></a>
            </li>
        </ul>
    </div>
</nav>

<form th:action="@{/customer/edit}" th:object="${customer}" method="post">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type Customer</th>
                <th scope="col">Birthday</th>
                <th scope="col">Gender</th>
                <th scope="col">ID Card</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input type="text" th:field="*{name}"></td>
                <td>
                    <select th:field="*{typeId}" >
                        <option th:each="c : ${typeCustomerList}"
                                th:value="${c.id}"
                                th:text="${c.name}"></option>
                    </select>
                </td>
                <td><input th:field="*{birthday}"></td>
                <td><input th:field="*{gender}"></td>
                <td><input th:field="*{idCard}"></td>
                <td th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}">Id Card Error</td>

                <td><input th:field="*{phone}"></td>
                <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>

                <td><input th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>

                <td><input th:field="*{address}"></td>
            </tr>
            <tr>
                <td><input type="hidden" th:field="*{id}"></td>
                <td><input type="hidden" th:field="*{codeCustomer}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Confirm"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>