<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/edit}" th:object="${discount}" method="post">
    <table>
        <tr>
            <td><input type="hidden" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Tiêu đề</td>
        </tr>
        <tr>
            <td><input th:field="*{title}"></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Code Error</td>
        </tr>

        <tr>
            <td>Ngày bắt đầu</td>
        </tr>
        <tr>
            <td><input type="date" th:field="*{startDate}"></td>
            <td th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Code Error</td>
        </tr>

        <tr>
            <td>Ngày kết thúc</td>
        </tr>
        <tr>
            <td><input type="date" th:field="*{endDate}"></td>
            <td th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Code Error</td>
        </tr>

        <tr>
            <td>Mức giảm giá</td>
        </tr>
        <tr>
            <td><input th:field="*{number}"></td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Code Error</td>
        </tr>

        <tr>
            <td>Chi tiết</td>
        </tr>
        <tr>
            <td><input th:field="*{detail}"></td>
            <td th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}">Code Error</td>
        </tr>

        <tr>
            <td>
                <a th:href="@{/}">Back</a>
            </td>
            <td><input type="submit" value="Confirm"></td>
        </tr>
    </table>
</form>
</body>
</html>