<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
</head>
<body>
<a th:href="@{/blog/create}">Create new Blog</a>

<form th:action="@{/blog/search}" >
    <input type="search" name="title" placeholder="Enter Title">
    <input type="submit" value="Search">
</form>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table>
    <tr>
        <th>STT</th>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="blog, blogStart : ${blogList}">
        <td th:text="${blogStart.count}"></td>

        <td><a th:href="@{/blog/view/{id}(id=${blog.id})}" th:text="${blog.title}"></a></td>

        <td><a th:href="@{/blog/edit/{id}(id=${blog.id})}">Edit</a></td>
        <td><a th:href="@{/blog/delete/{id}(id=${blog.id})}">Delete</a></td>
        <td><a th:href="@{blog/edit/15}">Test</a></td>
    </tr>
</table>
</body>
</html>