<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<h1>Products</h1>
<p>
    <a th:href="@{/product/create}">Create new product</a>
</p>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Describe</td>
        <td>Made by</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <tbody>
        <tr th:each="product : ${products}" >
            <td th:text="${product.getProductName()}"></td>
            <td th:text="${product.getProductPrice()}"></td>
            <td th:text="${product.getProductDescribe()}"></td>
            <td th:text="${product.getProductBy()}"></td>
            <td> <a th:href="@{/product/{id}/edit(id=${product.id})}">Edit</a></td>
            <td><a th:href="@{/product/{id}/delete(id=${product.id})}">Delete</a></td>
            <td><a th:href="@{/product/{id}/view(id=${product.id})}">View</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>