<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
</head>
<body>
<a th:href="@{/blog/create}">Create new Blog</a>

<form>
    <input type="search" name="title" placeholder="Enter Title">
    <input type="submit" value="Search">
</form>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<br><br>
<a th:href="@{/blog/sort}">Sort by date</a>
<br><br>
<form th:action="@{/blog/cate}">
    <select name="category" style="font-weight: bold">
        <option> Category</option>
        <option th:each="c : ${categoryList}"
                th:value="*{c.id}"
                th:text="*{c.name}"
                th:href="@{/blog/{name}(id=*{c.name})}"></option>
    </select>
    <input type="submit" value="Oke">
</form>

<table border="1">
    <tr>
        <th>STT</th>
        <th>Title</th>
        <th>
            <select name="category" style="font-weight: bold">
                <option> Category</option>
                <option th:each="c : ${categoryList}"
                        th:value="*{c.id}"
                        th:text="*{c.name}"
                        th:href="@{/blog/{name}(id=*{c.name})}"></option>
            </select>
        </th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="blog, blogStart : ${blogList}">
        <td th:text="${blogStart.count}"></td>

        <td><a th:href="@{/blog/view/{id}(id=${blog.id})}" th:text="${blog.title}"></a></td>
        <td th:text="${blog.category.getName()}"></td>
        <td th:text="${blog.date}"></td>
        <td><a th:href="@{/blog/edit/{id}(id=${blog.id})}">Edit</a></td>
        <td><a th:href="@{/blog/delete/{id}(id=${blog.id})}">Delete</a></td>

    </tr>
</table>
<div>
    <a th:href="@{'/blog'(page=${blogList.number -1},title=${search})}" th:if="${blogList.hasPrevious()}">Previous</a>
    <span th:text="${blogList.number +1}"></span> / <span th:text="${blogList.totalPages}"></span>
    <a th:href="@{'/blog'(page=${blogList.number+1},title=${search})}" th:if="${blogList.hasNext()}">Next</a>
</div>
</body>
</html>